@media (min-width: 576px) {
    .ps-sm-p75 {
        padding-left: 0.75rem !important;
    }
}

@media (min-width: 768px) {
    .mx-md-6 {
        margin-left: 30% !important;
        margin-right: 30% !important;
    }

    .mx-md-5-5 {
        margin-left: 25% !important;
        margin-right: 25% !important;
    }
}

@media (min-width: 992px) {
    .mx-lg-6 {
        margin-left: 30% !important;
        margin-right: 30% !important;
    }
}
