
@media (min-width: 576px) {
    .ps-sm-p75 {
        padding-left: 0.75rem !important;
    }
}

@media (min-width: 768px) {
    .mx-md-6 {
        margin-left: 30% !important;
        margin-right: 30% !important;
    }

    .mx-md-5-5 {
        margin-left: 25% !important;
        margin-right: 25% !important;
    }
}

@media (min-width: 992px) {
    .mx-lg-5-5 {
        margin-left: 25% !important;
        margin-right: 25% !important;
    }
    .mx-lg-6 {
        margin-left: 30% !important;
        margin-right: 30% !important;
    }
}

.btn-linkedin {
    color: #ffffff;
    background-color: #0A66C2;
    border-color: #0A66C2;
}

.btn-linkedin:hover,
.btn-linkedin:focus,
.btn-linkedin:active,
.btn-linkedin.active,
.open .dropdown-toggle.btn-linkedin {
    color: #ffffff;
    background-color: #09549E;
    border-color: #0A66C2;
}

.btn-linkedin:active,
.btn-linkedin.active,
.open .dropdown-toggle.btn-linkedin {
    background-image: none;
}

.btn-linkedin.disabled,
.btn-linkedin[disabled],
fieldset[disabled] .btn-linkedin,
.btn-linkedin.disabled:hover,
.btn-linkedin[disabled]:hover,
fieldset[disabled] .btn-linkedin:hover,
.btn-linkedin.disabled:focus,
.btn-linkedin[disabled]:focus,
fieldset[disabled] .btn-linkedin:focus,
.btn-linkedin.disabled:active,
.btn-linkedin[disabled]:active,
fieldset[disabled] .btn-linkedin:active,
.btn-linkedin.disabled.active,
.btn-linkedin[disabled].active,
fieldset[disabled] .btn-linkedin.active {
    background-color: #0A66C2;
    border-color: #0A66C2;
}

.btn-linkedin .badge {
    color: #0A66C2;
    background-color: #ffffff;
}
.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {-
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}